# Secrets — JANGAN upload ke GitHub!
.streamlit/secrets.toml

# Data lokal
data/
*.json
*.db
*.sqlite

# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/
.venv/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/